.front {
  font-size: 1rem;
  background: #f9f9f9;
  .header {
    border-bottom: solid 4px #41a8a5;
  }
  .markdown {
    pre {
      code {
        white-space: break-spaces;
      }
    }
    table,
    th,
    td,
    thead,
    tfoot {
      border: solid 1px #ddd;
      padding: 1rem;
    }
    table {
      margin-bottom: 1rem;
    }
    thead {
      background: rgba(0, 0, 0, 0.08);
    }
  }
}

.edu-front-lesson-index {
  .lesson {
    img {
      width: 100%;
    }
  }
}
.edu-front-live-index {
    .video {
        background: #22262f;
        video {
            width: 100%;
            outline: none;
        }
    }
}
.edu-front-video-show {
  .video {
    background: #22262f;
    video {
      width: 100%;
      outline: none;
    }
  }
}
.edu-front-sign-index form img {
    float: left;
    border: 5px solid #eae8e8;
    margin-right: 10px;
    padding: 5px 6px 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: .5s;
}
.edu-front-sign-index form input:checked+img {
    border: 5px solid #f15a57;
}
.edu-front-subscribe-index {
    .subscribe {
        background: #f1f1ed;
        padding-bottom: 5rem;
        .header {
            background-image: linear-gradient(150deg,#2d1582,#19a0ff);
            background-repeat: repeat-x;
            padding: 20px 20px 120px;
            h1 {
                font-size: 4rem;
                margin-top: 6rem;
            }
            h2 {
                font-weight: 200;
                opacity: .6;
                margin-top: 2rem;
                color: #fff;
                text-align: center;
            }
        }
        .items {
            margin-top: -5rem;
            padding-bottom: 3rem;
            .price {
                font-weight: 400;
                font-size: 3rem;
                text-shadow: 0 0 3px #aaa;
            }
        }
    }
}




.invalid-feedback{
    display: block;
}
